<script>
  main();

  async function main() {
    const button = document.getElementById("payment-button");
    const coupon = document.getElementById("coupon-box");

      const orderId = generateUUID(); // ✅ 실제 UUID 사용
    const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
    const customerKey = generateRandomString();
    const tossPayments = TossPayments(clientKey);
    const widgets = tossPayments.widgets({ customerKey });

    let baseAmount = await fetchOrderAmount(orderId);
    let finalAmount = baseAmount;

    await widgets.setAmount({
      currency: "KRW",
      value: finalAmount,
    });

    await Promise.all([
      widgets.renderPaymentMethods({
        selector: "#payment-method",
        variantKey: "DEFAULT",
      }),
      widgets.renderAgreement({
        selector: "#agreement",
        variantKey: "AGREEMENT",
      }),
    ]);

    coupon.addEventListener("change", async function () {
      if (coupon.checked) {
        finalAmount = baseAmount - 5000;
      } else {
        finalAmount = baseAmount;
      }

      await widgets.setAmount({
        currency: "KRW",
        value: finalAmount,
      });
    });

      button.addEventListener("click", async function () {
          await widgets.requestPayment({
              orderId: orderId,
              successUrl: window.location.origin + "/widget/success.html",
              failUrl: window.location.origin + "/fail.html",
          });
    });
  }

  async function fetchOrderAmount(orderId) {
    const response = await fetch(`/api/v1/payments/order-info/${orderId}`);
    if (!response.ok) {
      throw new Error("결제 금액 조회 실패");
    }
    const data = await response.json();
    return data.amount;
  }

  document.getElementById("payment-window-button").addEventListener("click", () => {
    location.href = "/payment/checkout.html";
  });

  document.getElementById("brandpay-button").addEventListener("click", () => {
    location.href = "/brandpay/checkout.html";
  });

  function generateRandomString() {
    return window.btoa(Math.random()).slice(0, 20);
  }
</script>
